h1{
    color : black;
    background-color: antiquewhite;
    text-align: center;
    
}
body{
    background-color: antiquewhite;
}

#img1{
    margin-left: 50%;
}
.abc{
    padding-right: 60%;
}
.pq
{
padding-left: 60%;
padding-top: 0%;

}